<div class="e-marambo-main-container">
    <div class="e-marambo-hero-container">
        <div class="e-marambo-hero-title">
            Emillio Itai Marambo.
        </div>

        <div class="e-marambo-hero-text">
            Full Stack Software Developer with 4+ experience.
        </div>

        <div class="e-marambo-hero-buttons">
            <button class="e-marambo-actions" type="button" (click)="viewResume()">View Resume</button>
            <button class="e-marambo-actions" type="button" (click)="downloadResume()">Download Resume</button>
        </div>
    </div>
</div>