<div class="e-marambo-main-container">
    <div class="e-marambo-hero-container">
        <h1 class="e-marambo-hero-title">
            Emillio Itai Marambo
        </h1>

        <h2 class="e-marambo-hero-text">
            Full Stack Software Developer
        </h2>

        <p class="e-marambo-hero-desc">{{typedText}}</p>

        <div class="e-marambo-hero-buttons" *ngIf="showButtons">
            <button class="e-marambo-actions" type="button" (click)="viewResume()">View Resume</button>
            <button class="e-marambo-actions" type="button" (click)="downloadResume()">Download Resume</button>
        </div>
    </div>

    <div class="e-marambo-loader-circle">
        <div class="arrow"></div>
    </div>
</div>