<div class="e-marambo-resume-container">
    <div class="container">
        <header>
            <div class="name">
                <h1>EMILLIO ITAI MARAMBO</h1>
                <p>Full Stack Software Developer </p>
            </div>
            <div class="contact-info">
                <p><span class="icon"><i class='bx bxs-location-plus'></i></span> Via Barnadus, 79 Barnard Street, Oakdale, Bellville, Cape Town</p>
                <p><span class="icon"><i class='bx bxs-phone-call' ></i></span> +27 67 639 6504</p>
                <p><span class="icon"><i class='bx bxs-envelope' ></i></span> emilliomarambo@gmail.com</p>
            </div>
        </header>

        <div class="custom-horizontal-flex m-top-3 ">
            <section class="e-marambo-personal-details">
                <h1 class="e-marambo-section-title">
                    About Me
                </h1>
                <p class="e-marambo-personal-details-desc">
                    Full-stack developer specializing in secure, dynamic applications using .NET, Angular, and Xamarin Android. My diverse background in marketing, service, and education enhances my adaptability and problem-solving skills. I excel at delivering high-quality
                    solutions on time while mentoring juniors. Let's connect and create something remarkable!
                </p>
            </section>

            <section class="e-marambo-personal-details-right">
                <h1 class="e-marambo-section-title">
                    Personal Details
                </h1>
                <ul>
                    <li><strong>Age: </strong> 30</li>
                    <li><strong>Marital Status: </strong> Single</li>
                    <li><strong>Languages: </strong> English, Shona</li>
                    <li><strong>Nationality: </strong> Zimbabwean</li>
                </ul>
            </section>
        </div>
        <section class="work-experience m-top-3 ">
            <h2>Education</h2>
            <div class="job">
                <div class="company">
                    <h3>Rhodes University</h3>
                    <p class="date">Feb 2019 - Nov 2019</p>
                </div>
                <div class="role">
                    <h4>Honours in Computer Science (1 year)</h4>
                    <ul>
                        <li><strong>Areas of Study:</strong> Computer Information Security, Image Processing, Machine Learning, Distributed and Parallel Computing and Computer Architecture </li>
                    </ul>
                </div>
            </div>
            <div class="job">
                <div class="company">
                    <h3>University of Fort Hare</h3>
                    <p class="date">March 2015 - Nov 2017</p>
                </div>
                <div class="role">
                    <h4>Bachelor of Science (3 years)</h4>
                    <ul>
                        <li><strong>Majors:</strong> Computer Science and Applied Mathematics</li>
                        <li><strong>Modules included:</strong> Computer Networks, Advanced Programming, Understanding Operating Systems, Software Engineering, Numerical Analysis and Application of Differential Equations </li>
                    </ul>
                </div>
            </div>
            <div class="job">
                <div class="company">
                    <h3>Mutenderende High School (Zimbabwe)</h3>
                    <p class="date">Jan 2012 - Nov 2013</p>
                </div>
                <div class="role">
                    <h4>Advanced Level (2 years)</h4>
                    <ul>
                        <li><strong>Commercials:</strong>Mathematics, Business Studies and Economics</li>
                    </ul>
                </div>
            </div>
        </section>
        <section class="work-experience m-top-3">
            <h2>Work Experience</h2>
            <div class="job">
                <div class="company">
                    <h3>DiPAR Systems, Cape Town, South Africa</h3>
                    <p class="date">Jan 2020 - Present</p>
                </div>
                <div class="role">
                    <h4>Full Stack Software Developer (Permanent)</h4>
                    <ul>
                        <li><strong>Architect and Innovator:</strong> Transform complex application specifications into intuitive and functional solutions. Design, build, and maintain robust, efficient, and reusable code that pushes the boundaries of software
                            development.
                        </li>
                        <li><strong>Performance Optimizer:</strong> Drive the performance, quality, and responsiveness of applications by proactively identifying bottlenecks and engineering innovative solutions. Ensure optimal integration of data storage
                            solutions, particularly on MS SQL Server.</li>
                        <li><strong>Code Quality Advocate:</strong> Champion superior code quality through rigorous reviews, adherence to best practices, and fostering automation. Lead by example, mentoring junior developers and maintaining an organized,
                            scalable codebase.</li>
                        <li><strong>Strategic Technical Advisor:</strong> Provide expert technical analysis and strategic guidance to development managers, aligning technical solutions with business goals. Conduct R&D and POC for new system features, contributing
                            to the strategic direction of the project.</li>
                        <li><strong>Support and Reliability Expert:</strong> Rapidly debug and resolve system issues, ensuring uninterrupted service and maintaining user satisfaction. Implement preventative measures to enhance system reliability and performance,
                            safeguarding against future issues.</li>

                    </ul>
                </div>
            </div>
            <div class="job">
                <div class="company">
                    <h3>Revival Technologies, Harare, Zimbabwe</h3>
                    <p class="date">Sept 2018 - Feb 2019</p>
                </div>
                <div class="role">
                    <h4>Technical Services Officer (Permanent)</h4>
                    <ul>
                        <li><strong>Queue Management System Specialist:</strong> Lead the installation, maintenance, and troubleshooting of Wavetec queue management systems for clients, ensuring seamless and efficient operations. Develop and implement tailored
                            network plans for new installations, and provide expert diagnostics and resolution for existing customer issues.</li>
                        <li><strong>Network and Systems Technician:</strong> Optimize office environments through precise cable management and reliable video conferencing system installations, including Polycom systems. Maintain and support the company’s
                            internal network, ensuring robust and secure digital infrastructure.</li>
                        <li><strong>Technology Integrator and Tester:</strong> Leverage expertise in PHP, JavaScript, Microsoft SQL, and .NET Framework to integrate and enhance system functionalities. Conduct comprehensive testing of internally developed
                            systems to ensure high performance and quality before deployment.</li>
                    </ul>
                </div>
            </div>
            <div class="job">
                <div class="company">
                    <h3>Stanbic Bank, Gweru, Zimbabwe</h3>
                    <p class="date">Nov 2014 - Feb 2015</p>
                </div>
                <div class="role">
                    <h4>Bank Teller (Contract)</h4>
                    <ul>
                        <li><strong>Customer Service Excellence:</strong> Deliver high-quality service by efficiently processing deposits, payments, and introducing customers to new banking services, ensuring a positive client experience.</li>
                        <li><strong>Asset Security and Control:</strong> Safeguard customers' assets by maintaining stringent security measures and exercising vigilant control over cash transactions.</li>
                        <li><strong>Data Management and Accuracy:</strong> Ensure data integrity through meticulous data cleansing, updating customer information in the event of address changes or other critical details.</li>
                    </ul>
                </div>
            </div>
            <div class="job">
                <div class="company">
                    <h3>Pula Sales, Harare, Zimbabwe</h3>
                    <p class="date">March 2014 - October 2014</p>
                </div>
                <div class="role">
                    <h4>Merchandising Promoter (Contract)</h4>
                    <ul>
                        <li><strong>Customer Engagement and Product Demonstration:</strong> Introduce customers to company products and effectively demonstrate their usage, ensuring a clear understanding and fostering interest among prospective customers.</li>
                        <li><strong>Inventory Management and Reporting:</strong> Maintain optimal shelf space by ensuring cleanliness and organization, while also negotiating orders and compiling comprehensive monthly branch sales reports.</li>
                    </ul>
                </div>
            </div>
        </section>
        <section class="work-experience">
            <h2>Skills</h2>
            <div class="job">
                <div class="company">
                    <h3>Programming and Database</h3>
                </div>
                <div class="role">
                    <h4>Core tools</h4>
                    <ul>
                        <li>
                            <div class="e-marambo-skill">
                                <strong>C# & MS SQL:</strong> C# mainly .NET Core and Entity Framework for Web, then Xamarin Android (Migrating to the latest .NET) while MS SQL is the main Database Language
                            </div>
                        </li>

                        <li>
                            <div class="e-marambo-skill">
                                <strong>Kotlin &  Firebase:</strong> Kotlin mostly for Android Native with Firebase as the database of choice due to it's offline capabilities
                            </div>
                        </li>

                        <li>
                            <div class="e-marambo-skill">
                                <strong>Others:</strong> JAVA, Python and MySql
                            </div>
                        </li>

                    </ul>
                </div>
            </div>

            <div class="job">
                <div class="company">
                    <h3> Scripting and Markup Languages</h3>
                </div>
                <div class="role">
                    <h4>Supplementary technologies </h4>
                    <ul>
                        <li>
                            <div class="e-marambo-skill">
                                <strong>jQuery & Angular:</strong> Elevating user experiences through powerful libraries and frameworks.
                            </div>
                        </li>

                        <li>
                            <div class="e-marambo-skill">
                                <strong>TypeScript & JavaScript:</strong> Enhancing web functionality with robust, dynamic scripting.
                            </div>
                        </li>

                        <li>
                            <div class="e-marambo-skill">
                                <strong>CSS & HTML5:</strong> Crafting visually appealing and responsive web designs.
                            </div>
                        </li>

                        <li>
                            <div class="e-marambo-skill">
                                <strong>LaTeX:</strong> Producing high-quality, structured documents with precision.
                            </div>
                        </li>

                    </ul>
                </div>
            </div>
            <div class="job">
                <div class="company">
                    <h3> DevOps and Others</h3>
                </div>
                <div class="role">
                    <h4>Delivery technologies and personal skills</h4>
                    <ul>
                        <li>
                            <div class="e-marambo-skill">
                                <strong>Docker & Kubernetes:</strong> Mastering containerization and orchestration to streamline development and deployment.
                            </div>
                        </li>
                        <li>
                            <div class="e-marambo-skill">
                                <strong>Azure Services Pipelines:</strong> Implementing CI/CD pipelines to accelerate development workflows and improve deployment efficiency.
                            </div>
                        </li>
                        <li>
                            <div class="e-marambo-skill">
                                <strong>Version Control:</strong> Leveraging Git, Bitbucket, and TFS for robust code management and collaborative development.
                            </div>
                        </li>
                        <li>
                            <div class="e-marambo-skill">
                                <strong>Computer Networking & Information Security:</strong> Ensuring secure and reliable network infrastructure and data protection.
                            </div>
                        </li>
                        <li>
                            <div class="e-marambo-skill">
                                <strong>Leadership & Team Collaboration:</strong> Guiding and inspiring teams to achieve shared goals, fostering a collaborative environment, and ensuring effective communication and project execution.
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </section>

        <section class="work-experience">
            <h2>Projects</h2>
            <div class="job">
                <div class="company">
                    <h3>BookiT</h3>
                    <p class="date">Effortless driving lesson bookings at your fingertips</p>
                </div>
                <div class="role">
                    <h4>Driving School Management System</h4>
                    <ul>
                        <li>
                            <p>BookiT is a real-time web and mobile driving school management system where students can book lessons online, while driving schools manage lessons via the mobile app.</p>
                        </li>
                        <li>
                            <p>Technologies used include .NET Core for the API, Firebase for the database, Kotlin for the mobile app, and Firebase Cloud Messaging for reminders.</p>
                        </li>
                        <li>
                            <p>Explore more: visit the <a href="https://lessons.bookitonline.co.za/about">BookiT website</a> to book lessons, or <a href="https://play.google.com/apps/test/com.adaptivesystems.bookit/230014200">download the app</a> to register
                                as a Driving School.</p>
                        </li>
                    </ul>
                </div>

            </div>

            <div class="job">
                <div class="company">
                    <h3>Thunderbolts Academy</h3>
                    <p class="date">Empowering the community through sport</p>
                </div>
                <div class="role">
                    <h4>Handball Club Website</h4>
                    <ul>
                        <li>
                            <p>Developed a website for a Handball club dedicated to supporting marginalized communities through sport. I volunteered to create this as a way of giving back to the community.</p>
                        </li>
                        <li>
                            <p>Built the site using Angular, hosted on AWS with an S3 Bucket, and the source code is available on GitHub.</p>
                        </li>
                        <li>
                            <p>Check out the website: <a href="https://www.thunderboltsacademy.co.za/">https://www.thunderboltsacademy.co.za/</a></p>
                        </li>
                    </ul>
                </div>

            </div>

            <div class="job">
                <div class="company">
                    <h3>Bitcoin Automated Trader</h3>
                    <p class="date">Leveraging the power of automation</p>
                </div>
                <div class="role">
                    <h4>Bitcoin automated trader</h4>
                    <ul>
                        <li>
                            <p>Developed a project leveraging Bitcoin price fluctuations using Luno's web API. Implemented a mean reversion strategy to automatically buy or sell Bitcoin when prices hit thresholds based on mean and standard deviation.</p>
                        </li>
                        <li>
                            <p>Utilized .NET Core for the backend, hosted the project on an AWS EC2 instance, and used MS SQL as the database.</p>
                        </li>
                        <li>
                            <p>For more details on this and other projects, feel free to reach out.</p>
                        </li>
                    </ul>
                </div>
            </div>
        </section>

        <section class="work-experience">
            <h2>Interests</h2>
            <div class="role">
                <ul>
                    <li>
                        Applications of Machine Learning in the area of Voice Recognition, Language detection and Translation
                    </li>

                    <li>
                        Big Data Analysis
                    </li>

                    <li>
                        Applications of AI in Electrical Engineering
                    </li>

                </ul>
            </div>
        </section>

        <section class="work-experience">
            <h2>References</h2>
            <div class="custom-horizontal-flex-wrap">
                <div class="e-marambo-reference e-marambo-flex-container">
                    <h1 class="e-marambo-reference-title">
                        Grant Le Roux - "Dipar Systems"
                    </h1>
                    <h4 class="e-marambo-reference-position">
                        Web And Mobile Development Manager
                    </h4>

                    <h4 class="e-marambo-reference-contact">
                        <strong>T:</strong> +27 84 569 9940
                    </h4>
                    <h4 class="e-marambo-reference-contact">
                        <strong>E:</strong> grantlr@dipar.co.za
                    </h4>
                </div>

                <div class="e-marambo-reference e-marambo-flex-container">
                    <h1 class="e-marambo-reference-title">
                        Prof Alfredo Terzoli - "Rhodes University"
                    </h1>
                    <h4 class="e-marambo-reference-position">
                        Computer Science Professor
                    </h4>

                    <h4 class="e-marambo-reference-contact">
                        <strong>T:</strong> +27 839 515 642
                    </h4>
                    <h4 class="e-marambo-reference-contact">
                        <strong>E:</strong> A.terzoli@ru.ac.za
                    </h4>
                </div>

                <div class="e-marambo-reference e-marambo-flex-container">
                    <h1 class="e-marambo-reference-title">
                        Mr Martin Masvimbo - "Stanbic Bank, Zimbabwe"
                    </h1>
                    <h4 class="e-marambo-reference-position">
                        Branch Manager
                    </h4>

                    <h4 class="e-marambo-reference-contact">
                        <strong>T:</strong> +263 773 229 523
                    </h4>
                    <h4 class="e-marambo-reference-contact">
                        <strong>E:</strong> mmasvimbo@stanbic.com
                    </h4>
                </div>

                <div class="e-marambo-reference e-marambo-flex-container">
                    <h1 class="e-marambo-reference-title">
                        Mrs Charity Nyabereka - "Revival Technologies"
                    </h1>
                    <h4 class="e-marambo-reference-position">
                        Head of Operations
                    </h4>

                    <h4 class="e-marambo-reference-contact">
                        <strong>T:</strong> +263 772 252 229
                    </h4>
                    <h4 class="e-marambo-reference-contact">
                        <strong>E:</strong>charity.nyabereka@revival-technologies.com

                    </h4>
                </div>

            </div>
        </section>
    </div>
</div>