@import url('./assets/css/base.css');
@import url('./assets/css/animations.css');
.e-marambo-main-container {
    width: 100dvw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--dark-blue);
    position: relative;
    gap: 2rem;
}

.e-marambo-hero-container {
    text-align: center;
    padding: 1.5rem;
    backdrop-filter: blur(10px);
    opacity: 0;
}

.e-marambo-hero-title {
    font-size: 3.5rem;
    font-weight: 800;
    font-style: bold;
    color: var(--light-orange);
    margin-bottom: 1rem;
    transform: translateY(-50px);
    opacity: 0;
    animation: titleSlideIn 1.5s ease-in-out forwards;
}

.e-marambo-hero-text {
    font-family: "Permanent Marker", system-ui;
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--dark-orange);
    margin-bottom: 1.5rem;
    transform: translateX(-100%);
    opacity: 0;
    animation: positionSlideIn 1.5s ease-in-out forwards;
    animation-delay: 2s;
}

.e-marambo-hero-desc {
    font-family: "Inria Sans", sans-serif;
    font-weight: 700;
    font-style: italic;
    font-size: 1.2rem;
    color: var(--light-orange);
    margin-bottom: 2rem;
    white-space: nowrap;
    overflow: hidden;
    animation-iteration-count: infinite;
}

.e-marambo-hero-buttons {
    margin-top: 2rem;
    opacity: 0;
    animation: fadeIn 1.5s forwards;
    animation-delay: 3.5s;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.e-marambo-actions {
    padding: 12px 30px;
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--light-blue);
    border-radius: 25px;
    background: linear-gradient(to right, var(--secondary-orange), var(--primary-blue));
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    margin: 0 10px;
}

.e-marambo-actions:hover {
    background: var(--dark-orange);
    color: var(--white);
    transform: scale(1.1);
}

.e-marambo-loader-circle {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 4px solid var(--secondary-orange);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 42%;
    margin-top: 20%;
    animation: zoomInOut 2s infinite ease-in-out;
    cursor: pointer;
    animation-delay: 3.5s;
    opacity: 0;
}

.arrow {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 20px solid var(--secondary-orange);
    position: absolute;
    top: 35%;
}

.e-marambo-skills-container {
    background-color: var(--primary-blue);
}

.skills-section {
    padding: 1rem;
    text-align: center;
}

.skills-title {
    font-size: 2.5rem;
    color: var(--dark-blue);
    padding: 1rem;
    text-shadow: 1px 1px 0 var(--light-orange), 2px 2px 0 var(--light-orange), 3px 3px 0 var(--light-orange), 4px 4px 0 var(--light-orange), 5px 5px 0 var(--light-orange);
    letter-spacing: 0.6rem;
    animation: fadeInDown 1s ease-in-out forwards;
    font-family: "Permanent Marker", system-ui;
    font-weight: 700;
    text-transform: uppercase;
}

.skills-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
}

.skills-box {
    background-color: var(--light-blue);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    opacity: 0;
    animation: none;
}

.skills-box:nth-child(1) {
    animation-delay: 0.2s;
}

.skills-box:nth-child(2) {
    animation-delay: 0.4s;
}

.skills-box:nth-child(3) {
    animation: none;
}

.project-title,
.skills-heading {
    font-size: 1.8rem;
    color: var(--dark-blue);
    margin-bottom: 1rem;
}

.skills-box ul {
    list-style: none;
    padding: 0;
}

.skills-box ul li {
    font-size: 1rem;
    color: var(--text-color);
    margin-bottom: 0.5rem;
    transition: transform 0.3s ease-in-out;
}

.skills-box ul li:hover {
    transform: scale(1.06);
    color: var(--secondary-orange);
}

.skills-progress {
    position: relative;
    height: 0.8rem;
    background-color: var(--light-orange);
    border-radius: 25px;
    overflow: hidden;
    margin-top: 0.5rem;
    box-shadow: inset 0 4px 6px rgba(0, 0, 0, 0.1);
}

.progress-fill {
    background-color: var(--primary-blue);
    height: 100%;
    width: 0;
    border-radius: 25px;
    transition: width 2s ease-in-out;
    position: relative;
}

.progress-fill::before {
    content: attr(data-percent) "%";
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 0.8rem;
    color: var(--white);
}

.projects-section {
    padding: 2rem;
    background-image: linear-gradient(220deg, var(--dark-blue), var(--primary-blue));
}

.projects-title {
    color: var(--white);
    text-align: center;
    font-size: 2.5rem;
    padding: 1rem;
    text-shadow: 1px 1px 0 var(--dark-blue), 2px 2px 0 var(--dark-blue), 3px 3px 0 var(--dark-blue), 4px 4px 0 var(--dark-orange), 5px 5px 0 var(--dark-orange);
    letter-spacing: 0.6rem;
    font-family: "Permanent Marker", system-ui;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.projects-grid {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 2rem;
}

.project-card {
    background-color: var(--light-blue);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.project-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.4);
}

.project-title {
    text-align: center;
}

.project-description {
    text-align: center;
    font-size: 1.3rem;
    margin-bottom: 1rem;
}

.project-technologies {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.project-links {
    align-self: center;
    display: flex;
    flex-direction: row;
    gap: 10rem;
}

.project-links>a {
    color: var(--dark-blue);
    font-size: 1.3rem;
}


/* Slide in from left animation */

.slide-in-left {
    transform: translateX(-100px);
    /* Start off-screen to the left */
}


/* Slide in from right animation */

.slide-in-right {
    transform: translateX(100px);
    /* Start off-screen to the right */
}


/* When in-view, bring the element into the viewport */

.project-card.in-view {
    transform: translateX(0);
    /* Move it back to the center */
}


/* Apply delays to create a staggered effect */

.project-card:nth-child(1) {
    transition-delay: 0.1s;
}

.project-card:nth-child(2) {
    transition-delay: 0.2s;
}

.project-card:nth-child(3) {
    transition-delay: 0.3s;
}


/* Continue for additional cards as needed */